/* Overall Document Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;

}

h1 {
  font-family: cursive;
}

a:link {
  color: inherit;
}

/* Container Display Details */

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  padding-left: 10px;
  padding-right: 10px;
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  height: 50px;
}


/* Top Section (our mission) details */
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.top-section {
  display: inline-flex;
  background-image: url(../img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  justify-content: center;
  align-items: center;
}

.mission.text-content {
  text-align:center;
  background-color: black;
  width: 1200px;
}

/* Middle Section (tea of month) details */
.tea-images {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.tom {
  width: 300px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.tom-text {
  width: 1000px;
  text-align: center;
  padding-top: 45px;
}

/* Bottom Section (locations) details */

/* Footer and Copyright details */
